<app-carousel></app-carousel>

<div>Sorteeri:</div>
<br>
<button (click)="onSortByTitleAsc()">Tähestiku järgi kasvavalt</button>
<button (click)="onSortByTitleDesc()">Tähestiku järgi kahanevalt</button>
<button (click)="onSortByPriceAsc()">Hinna järgi kasvavalt</button>
<button (click)="onSortByPriceDesc()">Hinna järgi kahanevalt</button>
<br><br><br>

<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngFor="let category of items | uniqueCategory">{{ category }}</div>

<div [ngClass]="{
    'active': itemShown.isActive && isLoggedIn,
    'inactive': !itemShown.isActive && isLoggedIn}" 
*ngFor="let itemShown of items">
    <app-item-card *ngIf="isLoggedIn || (!isLoggedIn && itemShown.isActive)"
    class="item" [item]="itemShown" [isLoggedIn]="isLoggedIn" (activeChangedEvent)="saveToDatabaseOnActiveChanged($event)"></app-item-card>
</div>

